In [1]:
import pandas as pd

NODES = {}
SEP = ','

In [2]:
with open('part-00000', 'r') as input_file:
    for row in input_file:
        elements = row.strip().split(SEP)
        #print (elements)
        node = int(elements[0])
        prob = float(elements[1])
        NODES[node] = prob

In [3]:
df = pd.DataFrame.from_dict(NODES, orient='index', columns=['Prob'])

In [4]:
topten = df.nlargest(10, 'Prob')

In [5]:
topten

            Prob
537039  0.002187
597621  0.002065
504140  0.002040
885605  0.001972
751384  0.001916
41909   0.001909
32163   0.001899
163075  0.001850
605856  0.001803
551829  0.001699